*{
    box-sizing: border-box;
}

body{
    background: white;
}

.container{
    margin: auto;
    width: 40%;
    padding: 14px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.7);
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

input[type='text'],
input[type='password']{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: whitesmoke;
}

input[type='text']:focus,
input[type='password']:focus{
    background-color: turquoise;
    outline: none;
}


.registration{
    border-radius: 10px;
    padding: 10px;
    background-color: teal;
    cursor: pointer;
    width: 100%;
    margin: auto;
    opacity: 0.8;
}

.registration:hover{
    opacity: 1;
}